{% extends 'base.html' %}
{% block title %} Main page {% endblock %}

{% block search %}
    <form class="d-flex" action="{% url "search_view" %}" method="get">
    {% csrf_token %}

        {% for field in form %}
            <input class="form-control me-2" type="search" name="{{ field.name }}"
                    placeholder="Search" aria-label="Search">
        {% endfor %}
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock %}

{% block content %}
<h2>All products</h2>
{% for product in products %}
    {% if product.balance >= 1 %}
<p>
    <a href="{% url "detail_view" product.id %}">{{ product.product }}
        ({{ product.category }}) | {{ product.price }}</a>
</p>
        <p>*
            <a href="{% url "update_view" product.id %}">Update</a> |
            <a href="{% url "delete_view" product.pk %}">Delete</a>
        </p>
    {% endif %}
{% endfor %}
{% endblock %}
